%footer.footer
  .container
    .row
      .col-sm-4.margin-b-30
        = scrivito_tag(:h2, @obj, :trans_tech_text_headline)
        = scrivito_tag(:p, @obj, :trans_tech_text)
      .col-sm-4.margin-b-30
        = scrivito_tag(:h2, @obj, :contact_us_text)

        %ul.nopadding
          %li
            %span
              %i.ti-map-alt
              = scrivito_tag(:span, @obj, :adress)

          %li
            %span
              %i.ti-email
              = mail_to "info@trans-tech.de"
          %li
            %span
              %i.ti-headphone-alt
              +49 30 8173840
      .col-sm-4.margin-b-30

        %h2
          = scrivito_tag(:div, @obj, :more_sites)
        = scrivito_tag_list(:ul, @obj, :toclist, class: "nopadding") do |list, child|
          = list.tag(:li, class: "my_list_element") do
            = link_to(scrivito_path(child)) do
              = scrivito_tag(:span, child, :title)

        / col4 end
      / row end
      .row
        .col-sm-12.text-center
          .footer-bottom
            %ul.list-inline
            %span © 1990 - 2018 Werner Behnke | All rights reserved.
