.container
  .row
    .col-md-6.margin20
      %h3.heading Little About our team
      %p
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni. Dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
      %p
        %a.btn.btn-theme-bg{:href => "#"} Read more
    .col-md-6
  / about intro
  .divide60
  .row
    .col-md-12.margin20
      %h3.heading Meet the Team
  .row
    .col-md-3.margin20
      .team-wrap
        = image_tag("wbehnke.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
    .col-md-3.margin20
      .team-wrap
        = image_tag("dbehnke.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
    .col-md-3.margin20
      .team-wrap
        = image_tag("gcorte.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
    .col-md-3.margin20
      .team-wrap
        = image_tag("jwalczak.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
  .divide30
  .row
    .col-md-3.margin20
      .team-wrap
        = image_tag("skamdem.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
    .col-md-3.margin20
      .team-wrap
        = image_tag("swalczak.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
    .col-md-3.margin20
      .team-wrap
        = image_tag("tstenzel.jpg", class: "img-responsive")
        %h4 Jolly smith
        %span Web Designer
        %p
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis
