= scrivito_medium_dialog do
  = scrivito_details_for "Titel" do
    = scrivito_tag :div, @obj, :title
  = scrivito_details_for "Country Name Translation" do
    = scrivito_tag :div, @obj, :country_name_translation
  = scrivito_details_for "Slider Image" do
    = scrivito_tag :div, @obj, :slider_image
  = scrivito_details_for "Country" do
    = scrivito_tag :div, @obj, :country
  = scrivito_details_for "First Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_1
  = scrivito_details_for "Second Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_2
  = scrivito_details_for "Third Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_3
  = scrivito_details_for "Translation of 'language in menu'" do
    = scrivito_tag :div, @obj, :menu_language
  
  %h3
    = "Cookie-Banner"
  = scrivito_details_for 'Cookie Notice' do
    = scrivito_tag :div, @obj, :cookie_notice, data: {scrivito_editors_placeholder: t('.cookie_notice_placeholder')}
  = scrivito_details_for 'Cookie Notice Link' do
    = scrivito_tag :div, @obj, :cookie_notice_link
  = scrivito_details_for 'Cookie Notice Button Text' do
    = scrivito_tag :div, @obj, :cookie_notice_button_text

  %h3
    = "Seo-Kram"
  = scrivito_details_for "Language of Site please use iso codes" do
    = scrivito_tag :div, @obj, :iso_code_language
  = scrivito_details_for "Comma seperated words describing the Page" do
    = scrivito_tag :div, @obj, :meta_tags
  = scrivito_details_for "Complete sentencens describing the Page" do
    = scrivito_tag :div, @obj, :meta_description

= scrivito_details_for "Mailer Text für Service-Anfrage. Der 1.Text steht vor den vom Kunden im Formular eigegeben Daten. Der 2.Text steht nach den Daten" do
  = scrivito_details_for "1.Text, steht vor den vom Kunden eingegeben Daten" do
    = scrivito_tag :div, @obj, :mail_thanks_services_beginning
  = scrivito_details_for "2.Text, steht vor den vom Kunden eingegeben Daten" do
    = scrivito_tag :div, @obj, :mail_thanks_services_end

= scrivito_details_for "Mailer Text für Mitarbeits-Anfrage. Der 1.Text steht vor den vom Bewerbenden im Formular eigegeben Daten. Der 2.Text steht nach den Daten" do
  = scrivito_details_for "1.Text, steht vor den vom Bewerbenden eingegeben Daten" do
    = scrivito_tag :div, @obj, :mail_thanks_for_working_with_us
  = scrivito_details_for "2.Text, steht vor den vom Bewerbenden eingegeben Daten" do
    = scrivito_tag :div, @obj, :mail_thanks_for_working_with_us_end
