= scrivito_medium_dialog do
  = scrivito_details_for "Country Name Translation" do
    = scrivito_tag :div, @obj, :country_name_translation
  = scrivito_details_for "Country" do
    = scrivito_tag :div, @obj, :country

  = scrivito_details_for "First Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_1
  = scrivito_details_for "Second Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_2
  = scrivito_details_for "Third Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_3
