= scrivito_medium_dialog do
  = scrivito_details_for "Country Name Translation" do
    = scrivito_tag :div, @obj, :country_name_translation
  = scrivito_details_for "Country" do
    = scrivito_tag :div, @obj, :country
