= scrivito_medium_dialog do
  = scrivito_details_for "Titel" do
    = scrivito_tag :div, @obj, :title
  = scrivito_details_for "Country Name Translation" do
    = scrivito_tag :div, @obj, :country_name_translation
  = scrivito_details_for "Slider Image" do
    = scrivito_tag :div, @obj, :slider_image
  = scrivito_details_for "Country" do
    = scrivito_tag :div, @obj, :country
  = scrivito_details_for "First Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_1
  = scrivito_details_for "Second Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_2
  = scrivito_details_for "Third Button of Introduction Image" do
    = scrivito_tag :div, @obj, :button_3

  %h3
    = "Seo-Kram"
  = scrivito_details_for "Language of Site please use iso codes" do
    = scrivito_tag :div, @obj, :iso_code_language
  = scrivito_details_for "Comma seperated words describing the Page" do
    = scrivito_tag :div, @obj, :meta_tags
  = scrivito_details_for "Complete sentencens describing the Page" do
    = scrivito_tag :div, @obj, :meta_description

  %h3
    = "Mail-Kram"
  = scrivito_details_for "Mailer Text für nicht sendbare Inhalte" do
    = scrivito_tag :div, @obj, :mail_not_sendable
  = scrivito_details_for "Mailer Texte danke für ihre Anfrage bezüglich Zusammenarbeit" do
    = scrivito_tag :div, @obj, :mail_thanks_services
  = scrivito_details_for "Mailer Texte danke für ihre Anfrage bezüglich Übersetzungen-Services" do
    = scrivito_tag :div, @obj, :mail_thanks_for_working_with_us
