%body{"data-spy" => "scroll"}
  / Static navbar
  %section#home.banner-intro.banner-slider.full_width_section
    .banner-inner
      .container
        .row
          .col-sm-12.text-center.wow.animated.bounceIn
            = scrivito_tag :h1, @obj, :universal, class: "h1_slider_big_dark"
            %br
            %br
              = scrivito_tag :h3, @obj, :first_sub_headline, class: "h2_slider_big_blue_light"
              %br
                = scrivito_tag :h3, @obj, :second_sub_headline, class: "h1_slider_big_dark"

            .scroll-to.banner-buttons
              %a.btn.btn-lg.btn-skin.btn-radius{:href => "##{@obj.button_1}"}
                = scrivito_tag :span, @obj, :button_text_service
                %span
                  %i.ti-help

              %a.btn.btn-lg.btn-radius.btn-white{:href => "##{@obj.button_2}"}
                = scrivito_tag :span, @obj, :button_text_offer
                %span
                  %i.ti-settings
              %a.btn.btn-lg.btn-radius.btn-skin{:href => "##{@obj.button_3}"}
                = scrivito_tag :span, @obj, :button_text_work_with
                %span
                  %i.ti-user
  = scrivito_tag :div, @obj, :body
  %section#pricing.pricing-section
    .container
      .row
        .col-sm-12.center-title
          %i.icon-pricetags
          %h2 Our Prices
      / center title row end
      .row
        .col-sm-6
          .price-box.text-center.wow.animated.fadeInUp{"data-wow-delay" => "0.1s"}
            %i.icon-phone
            %h3 Per Line
            %p Our prices are calculated on a per line (one standard line corresponds to 55 key strokes including spaces) or a per word basis, whereby the overall volume of the text and the complexity of the subject are significant factors determining the total price.
            %a.btn.btn-lg.btn-default.btn-radius{:href => "#"} Request offer
        .col-sm-6
          .price-box.text-center.wow.animated.fadeInUp{"data-wow-delay" => "0.1s"}
            %i.icon-phone
            %h3 Graphics Jobs
            %p
              Interpreter assignments, graphics jobs as well as all work requiring on-site presence of a translator/interpreter are calculated on an hourly basis. Please do not hesitate to use the "Request offer" form as an easy way to receive an offer for any type of translation job you may be contemplating. Or you can contact us directly via the "Team" menu. We would be very pleased to provide you with any further information that you may need.
            %a.btn.btn-lg.btn-default.btn-radius{:href => "#"} Contact Team Member
  = render "clients_carousel"
  = render "footer"
