%body{"data-spy" => "scroll"}
  / Static navbar
  %nav.navbar.navbar-default.header-v1.navbar-fixed-top
    .container
      .navbar-header.scroll-to
        %button.navbar-toggle.collapsed{"data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "index.html"} Trans-Tech
      #navbar.nav-push-right.navbar-collapse.collapse
        %ul.nav.scroll-to.navbar-nav
          %li.active
            %a{:href => "#home"} home
          %li
            %a{:href => "#pricing"} pricing
          %li
            %a{:href => "#newsletter"} References
          %li.dropdown.active
            %a.dropdown-toggle.js-activated{"aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Language
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-de
                  Deutsch
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-gb
                  English
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-it
                  Italiano
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-es
                  Spanish
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-dk
                  Dansk
              %li
                %a{:href => "index.html"}
                  %span.flag-icon.flag-icon-de
                  Deutsch
        %ul.nav.navbar-nav.navbar-right
          %li.button-nav
            %a{:href => "https://wrapbootstrap.com/theme/assan-multi-purpose-8-themes-in-1-WB05F069P", :target => "_blank"} Work with us
      / /.nav-collapse
    / /.container-fluid
  / navigation end here
  %section#home.banner-intro.banner-slider.full_width_section
    .banner-inner
      .container
        .row
          .col-sm-12.text-center.wow.animated.bounceIn
            %h1.h1_slider_big_dark The universal Translator
            %br
            %br
              %h3.h2_slider_big_blue_light
                With head offices in Berlin, Germany, we are an internet connected team of translators and interpreters in Europe, North and South America, Asia and Africa.
              %br
                %h3.h1_slider_big_dark

                  We are engineers, scientists and economists from many branches of technology, industry and commerce.


            .scroll-to.banner-buttons
              %a.btn.btn-lg.btn-skin.btn-radius{:href => "#features"}
                Our Services
                %i.ti-help
              %a.btn.btn-lg.btn-radius.btn-white{"data-target" => "#video-popup", "data-toggle" => "modal"}
                Request Offer
                %i.ti-settings
              %a.btn.btn-lg.btn-radius.btn-skin{"data-target" => "#video-popup", "data-toggle" => "modal"}
                Work with us
                %i.ti-user
  = render "layouts/what_we_do"
  %section#pricing.pricing-section
    .container
      .row
        .col-sm-12.center-title
          %i.icon-pricetags
          %h2 Our Prices
      / center title row end
      .row
        .col-sm-6
          .price-box.text-center.wow.animated.fadeInUp{"data-wow-delay" => "0.1s"}
            %i.icon-phone
            %h3 Per Line
            %p Our prices are calculated on a per line (one standard line corresponds to 55 key strokes including spaces) or a per word basis, whereby the overall volume of the text and the complexity of the subject are significant factors determining the total price.
            %a.btn.btn-lg.btn-default.btn-radius{:href => "#"} Request offer
        .col-sm-6
          .price-box.text-center.wow.animated.fadeInUp{"data-wow-delay" => "0.1s"}
            %i.icon-phone
            %h3 Graphics Jobs
            %p
              Interpreter assignments, graphics jobs as well as all work requiring on-site presence of a translator/interpreter are calculated on an hourly basis. Please do not hesitate to use the "Request offer" form as an easy way to receive an offer for any type of translation job you may be contemplating. Or you can contact us directly via the "Team" menu. We would be very pleased to provide you with any further information that you may need.
            %a.btn.btn-lg.btn-default.btn-radius{:href => "#"} Contact Team Member

  .clients
    .container
      %ul.list-inline.text-center
        %li
          %a{:href => "#"}
            = image_tag("cl-1.png")
        %li
          %a{:href => "#"}
            = image_tag('cl-2.png')
        %li
          %a{:href => "#"}
            = image_tag('cl-3.png')
        %li
          %a{:href => "#"}
            = image_tag('cl-4.png')
        %li
          %a{:href => "#"}
            = image_tag('cl-5.png')
  / subscribe
  %section#newsletter.newsletter-section
    .container
      .row
        .col-sm-8.col-sm-offset-2.center-title
          %i.icon-envelope
          %h2 Start your free 30 days trail!
          %p No credit card required. Upgrade, downgrade, or cancel anytime.
      / center title row end
      .row
        .col-sm-6.col-sm-offset-3
          %form.subscribe-form.assan-newsletter{:action => "#", :method => "post", :role => "form"}
            .input-group
              %input.form-control{:name => "email", :placeholder => "Enter email to subscribe", :type => "text"}/
              %span.input-group-btn
                %button.btn.btn-lg.btn-skin.btn-radius{:name => "submit", :type => "submit"} Notify me
  / end subscribe
  / footer start
  %footer.footer
    .container
      .row
        .col-sm-4.margin-b-30
          %h2 Assan
          %p
            Over 2500+ happy customers since December 2014.We've create the classic, simple & fully featured Templates kit. In author language ASSAN means simple and easy to learn and use.
          .space-20
          %a.btn.btn-skin.btn-radius.btn-lg{:href => "https://wrapbootstrap.com/theme/assan-multi-purpose-8-themes-in-1-WB05F069P", :target => "_blank"} Get Assan Kit Today!
        .col-sm-4.margin-b-30
          %h2 Contact us
          %ul.list-unstyled.clearfix
            %li.clearfix
              %i.fa.fa-map-marker
              %span 124, Munna wali, Lalchandpura, Johtwara, 302012
            %li.clearfix
              %i.fa.fa-envelope-o
              %span
                %a{:href => "#"} mylifedesign143@gmail.com
            %li.clearfix
              %i.fa.fa-phone
              %span +01 1234 434-345
        / col4 end
        .col-sm-4.margin-b-30
          %h2 Follow us
          %ul.list-inline.clearfix
            %li
              %a{:href => "#"}
                %i.fa.fa-facebook-official
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter
            %li
              %a{:href => "#"}
                %i.fa.fa-google-plus
            %li
              %a{:href => "#"}
                %i.fa.fa-linkedin
            %li
              %a{:href => "#"}
                %i.fa.fa-youtube
        / col4 end
      / row end
      .row
        .col-sm-12.text-center
          .footer-bottom
            %ul.list-inline
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} News
              %li
                %a{:href => "#"} Help
              %li
                %a{:href => "#"} Terms
              %li
                %a{:href => "#"} Privacy
            %span © Copyright 2016. Orginal Design by Design_mylife
