= scrivito_medium_dialog do
  = scrivito_details_for "Inquiry Text" do
    = scrivito_tag :div, widget, :inquiry_text
  = scrivito_details_for "Inquiry Button Text" do
    = scrivito_tag :div, widget, :inquiry_button_text
  = scrivito_details_for "Work for us Text" do
    = scrivito_tag :div, widget, :work_for_us_text
  = scrivito_details_for "Work for us Button Text" do
    = scrivito_tag :div, widget, :work_for_us_button_text
  = scrivito_details_for "Submit Button Text" do
    = scrivito_tag :div, widget, :send_button_text
