- if flash[:notice]
  %p{:style => "color: green;"}= flash[:notice]
.tabs-container
  = scrivito_tag(:p, widget, :request_type)
  %ul.nav.nav-tabs
    %li
      %a#inquiry-button{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} #{widget.inquiry_button_text}
    %li
      %a#work-for-us-button{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} #{widget.work_for_us_button_text}
.tab-content
  #tab-1.tab-pane
    .col-md-6.no-padding-col
      - form = InquiryForm.new
      = form_for form do |f|
        .col-md-12.form-padding-no-left
          = scrivito_tag(:p, widget, :user_details)
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :first_name, class: "form-control", id: 'first_name_inquiry', placeholder: widget.first_name, :type => "text", :required => "true", data: {"validation-required-message" => "Please enter your First Name"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :last_name, class: "form-control", id: 'last_name_inquiry', placeholder: widget.last_name, :type => "text", :required => "true", data: {"validation-required-message" => "Please enter your Last Name."}
        .col-m-12
          .control-group
            .form-group.controls.form-padding
              = f.email_field :email, class: "form-control", id: 'last_email_inquiry',  placeholder: widget.email, :type => "email", :required => "true", data: {"data-validation-required-message" => "Please enter your E-Mail Adress"}

        .col-md-12.form-padding-no-left
          = scrivito_tag(:p, widget, :project_intel)
        .col-m-12
          .control-group
            .form-group.controls.form-padding
              = f.text_field :subject, class: "form-control", placeholder: widget.subject, :type => "text", :required => "true", data: {"data-validation-required-message" => "Please enter a subject"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :source_language, class: "form-control", id: 'source_language_project', placeholder: widget.source_language, :required => "true", :type => "string", data: {"data-validation-required-message" => "Please enter the volume"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :target_language, class: "form-control", placeholder: widget.target_language,  :required => "true", :type => "string", data: {"data-validation-required-message" => "Please enter your target language"}

        .col-md-12.form-padding-no-left
          = scrivito_tag(:p, widget, :project_further_intel)
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.number_field :volume, class: "form-control", placeholder: widget.volume, :type => "number", :required => "true", data: {"data-validation-required-message" => "Please enter the volume"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.date_field :date, class: "form-control", placeholder: "Date Field", :required => "true", :type => "date", data: {"data-validation-required-message" => "Please enter the date for your request"}
              = f.hidden_field :obj_id, value: @obj.id, id: 'obj_id_inquiry'
              = f.hidden_field :type, value: "project_inquiry", id: 'type_inquiry'

        .col-md-12.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_area :remarks, class: "form-control", placeholder: widget.remarks_inquiry, id: 'remarks_inquiry', data: {"data-validation-required-message" => "Please enter your specialist areas", :required => "", :type => "string"}
              
        .col-m-12
          .control-group
            %span= widget.attachment_button_text_offer
            .form-group.controls.form-padding
              %label.btn.btn-primary{:for => "my-file-selector"}
                = f.file_field :attachment_offer, id: 'my-file-selector', multiple: true, class: 'd-none', accept: 'image/jpg, image/jpeg, application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document'

        .col-md-12.no-padding-col
          = f.submit "#{widget.send_button_text}", class: "btn btn-skin btn-lg", action: 'create', :type => 'submit'

    .col-md-6
      = scrivito_tag(:p, widget, :inquiry_text)
  #tab-2.tab-pane
    .col-md-6.no-padding-col
      - form = InquiryForm.new
      = form_for form, html: {id: 'work_for_us_form'} do |f|
        .col-md-12.form-padding-no-left
          = scrivito_tag(:p, widget, :user_details)
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :first_name, class: "form-control", placeholder: widget.first_name, :type => "text", :required => "true", data: {"data-validation-required-message" => "Please enter your First Name"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :last_name, class: "form-control", placeholder: widget.last_name, :required => "true", :type => "text", data: {"data-validation-required-message" => "Please enter your Last Name."}

        .col-m-12
          .control-group
            .form-group.controls.form-padding
              = f.text_field :email, class: "form-control", placeholder: widget.email, :required => "true", :type => "email", data: {"data-validation-required-message" => "Please enter your E-Mail Adress"}

        .col-md-12.form-padding-no-left
          = scrivito_tag(:p, widget, :expertise)

        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :source_language, class: "form-control", placeholder: widget.source_language, id: 'source_language_work_with_us', :required => "true", :type => "string", data: {"data-validation-required-message" => "Please enter the volume"}
        .col-md-6.no-padding-col
          .control-group
            .form-group.controls.form-padding
              = f.text_field :target_language, class: "form-control", placeholder: widget.target_language, id: 'target_language_work_with_us', :required => "true", :type => "string", data: {"data-validation-required-message" => "Please enter your target language"}

        .col-m-12
          .control-group
            .form-group.controls.form-padding
              = f.text_field :specialist_areas, class: "form-control", placeholder: widget.specialist_areas, :required => "", :type => "string", data: {"data-validation-required-message" => "Please enter your specialist areas"}

        .col-m-12
          .control-group
            .form-group.controls.form-padding
              = f.text_area :remarks, class: "form-control", placeholder: widget.remarks_work_for_us, :type => "string", data: {"data-validation-required-message" => "Please enter your specialist areas"}
              = f.hidden_field :obj_id, value: @obj.id
              = f.hidden_field :type, value: "work_with_usw"
        .col-m-12
          .control-group
            %span= widget.attachment_button_text_career
            .form-group.controls.form-padding
              %label.btn.btn-primary{:for => "my-file-selector"}
                = f.file_field :attachment_career, id: 'my-file-selector', multiple: true, class: 'd-none', accept: 'image/jpg, image/jpeg, application/pdf, application/zip,application/vnd.openxmlformats-officedocument.wordprocessingml.document'


        #success
          .col-md-12.form-padding-no-left
            = f.submit "#{widget.send_button_text}", class: "btn btn-skin btn-lg"

    .col-md-6
      = scrivito_tag(:p, widget, :work_for_us_text)
