.container
  .tabs-container
    = scrivito_tag(:p, widget, :request_type)
    %ul.nav.nav-tabs
      %li
        %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#tab-1"} #{widget.inquiry_button_text}
      %li
        %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab-2"} #{widget.work_for_us_button_text}
  .tab-content
    #tab-1.tab-pane
      .row
        .col-md-6
          - @inquiry = @obj.id
          = form_for @inquiry do |f|
            .col-md-12.form-padding-no-left
              = scrivito_tag(:p, widget, :user_details)
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :first_name, class: "form-control", placeholder: "First Name", data: {"data-validation-required-message" => "Please enter your First Name", :required => "", :type => "text"}
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :last_name, class: "form-control", placeholder: "Last Name", data: {"data-validation-required-message" => "Please enter your Last Name.", :required => "", :type => "text"}

            .col-m-12
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :email, class: "form-control", placeholder: "Email-Adress", data: {"data-validation-required-message" => "Please enter your E-Mail Adress", :required => "", :type => "email"}

            .col-md-12.form-padding-no-left
              = scrivito_tag(:p, widget, :project_intel)
            .col-m-12
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :subject, class: "form-control", placeholder: "Subject", data: {"data-validation-required-message" => "Please enter a subject", :required => "", :type => "text"}

            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.number_field :volume, class: "form-control", placeholder: "Volume", data: {"data-validation-required-message" => "Please enter the volume", :required => "", :type => "number"}
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.date_field :date, class: "form-control", placeholder: "Date Field", data: {"data-validation-required-message" => "Please enter the date for your request", :required => "", :type => "date"}


        .col-md-6
          = scrivito_tag(:p, widget, :inquiry_text)
        #success
          .form-group.col-xs-12
            %button.btn.btn-skin.btn-lg{:type => "submit"} #{widget.send_button_text}
    #tab-2.tab-pane
      .row
        .col-md-6
          - @inquiry = @obj.id
          = form_for @inquiry do |f|
            .col-md-12.form-padding-no-left
              = scrivito_tag(:p, widget, :user_details)
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :first_name, class: "form-control", placeholder: "First Name", data: {"data-validation-required-message" => "Please enter your First Name", :required => "true", :type => "text"}
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :last_name, class: "form-control", placeholder: "Last Name", data: {"data-validation-required-message" => "Please enter your Last Name.", :required => "", :type => "text"}

            .col-m-12
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :email, class: "form-control", placeholder: "Email-Adress", data: {"data-validation-required-message" => "Please enter your E-Mail Adress", :required => "", :type => "email"}

            .col-md-12.form-padding-no-left
              = scrivito_tag(:p, widget, :expertise)

            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :source_language, class: "form-control", placeholder: "Source Language", data: {"data-validation-required-message" => "Please enter the volume", :required => "", :type => "string"}
            .col-md-6.no-padding-col
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :target_language, class: "form-control", placeholder: "Target Language", data: {"data-validation-required-message" => "Please enter your target language", :required => "", :type => "string"}

            .col-m-12
              .control-group
                .form-group.controls.form-padding
                  = f.text_field :specialist_areas, class: "form-control", placeholder: "Specialist Areas", data: {"data-validation-required-message" => "Please enter your specialist areas", :required => "", :type => "string"}

            .col-m-12
              .control-group
                .form-group.controls.form-padding
                  = f.text_area :remarks, class: "form-control", placeholder: "Remarks", data: {"data-validation-required-message" => "Please enter your specialist areas", :required => "", :type => "string"}
            #success
              .col-md-12.form-padding-no-left
                = f.submit "#{widget.send_button_text}", class: "btn btn-skin btn-lg"

        .col-md-6
          = scrivito_tag(:p, widget, :work_for_us_text)
