.panel.panel-default.trans-tech-blue-light
  .panel-heading
    %a{"data-parent" => "#accordion3", "data-toggle" => "collapse", :href => "#collapseeleven"}
      %h4.panel-title
        %span
          = image_tag("icons/patent.png", class: "whitey")
          = scrivito_tag(:div, widget, :cell_title_11)


  #collapseeleven.panel-collapse.collapse
    .panel-body
      = scrivito_tag(:div, widget, :cell_content_11)
      .divide30
      %p
        %a#offer-trigger-pricing.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}
/ panel end
.panel.panel-default.trans-tech-blue-light
  .panel-heading
    %a{"data-parent" => "#accordion3", "data-toggle" => "collapse", :href => "#collapsetwelve"}
      %h4.panel-title
        %span
          = image_tag("icons/food.png", class: "whitey")
          = scrivito_tag(:div, widget, :cell_title_12)

  #collapsetwelve.panel-collapse.collapse
    .panel-body
      = scrivito_tag(:div, widget, :cell_content_12)
      .divide30
      %p
        %a#offer-trigger-pricing.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}
/ panel end
.panel.panel-default.trans-tech-blue-light
  .panel-heading
    %a{"data-parent" => "#accordion3", "data-toggle" => "collapse", :href => "#collapsethirteen"}
      %h4.panel-title
        %span
          = image_tag("icons/manufacturing.png", class: "whitey")
          = scrivito_tag(:div, widget, :cell_title_13)


  #collapsethirteen.panel-collapse.collapse
    .panel-body
      = scrivito_tag(:div, widget, :cell_content_13)
      .divide30
      %p
        %a#offer-trigger-pricing.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}
.panel.panel-default.trans-tech-blue-light
  .panel-heading
    %a{"data-parent" => "#accordion3", "data-toggle" => "collapse", :href => "#collapsefourteen"}
      %h4.panel-title
        %span
          = image_tag("icons/building.png", class: "whitey")
          = scrivito_tag(:div, widget, :cell_title_14)
  #collapsefourteen.panel-collapse.collapse
    .panel-body
      = scrivito_tag(:div, widget, :cell_content_14)
      .divide30
      %p
        %a#offer-trigger-pricing.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}

.panel.panel-default.trans-tech-blue-light
  .panel-heading
    %a{"data-parent" => "#accordion3", "data-toggle" => "collapse", :href => "#collapsefifteen"}
      %h4.panel-title
        %span
          = image_tag("icons/sanitary.png", class: "whitey")
          = scrivito_tag(:div, widget, :cell_title_15)
  #collapsefifteen.panel-collapse.collapse
    .panel-body
      = scrivito_tag(:div, widget, :cell_content_15)
      .divide30
      %p
        %a#offer-trigger-pricing.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}
