= scrivito_details_for "Show in Navigation" do
  = scrivito_tag :div, widget, :include_in_nav

= scrivito_details_for "Section Technical Name for linking n stuff" do
  = scrivito_tag :div, widget, :section_name
  
= scrivito_details_for "Section Title for Navigation" do
  = scrivito_tag :div, widget, :title

= scrivito_details_for "Request Quote Translation" do
  = scrivito_tag :div, widget, :title_to_link

= scrivito_details_for "Request Quote Link" do
  = scrivito_tag :div, widget, :link_target
