= content_tag :section, id: widget.section_name, class: "features-background" do

  .center-title
    %h2.white
      Our Services
    .row.jobs-row
      .container
        .col-md-3.no-padding-col
          #accordion.panel-group
            .left_top_panel.panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseone"}
                    %span.ti-bookmark-alt.services_icons
                    %br
                    = scrivito_tag(:div, widget, :cell_title_1)

              #collapseone.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_1)

                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => scrivito_path(@obj) + "##{widget.link_target}"} #{widget.title_to_link}
            / panel end
            .panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-crown.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsetwo"}
                    = scrivito_tag(:div, widget, :cell_title_2)


              #collapsetwo.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_2)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-wand.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsethree"}
                    = scrivito_tag(:div, widget, :cell_title_3)


              #collapsethree.panel-collapse.collapse
                .panel-body
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            .panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-wand.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefour"}
                    = scrivito_tag(:div, widget, :cell_title_4)


              #collapsefour.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_4)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            .left_bottom_panel.panel.panel-default.trans-tech-blue-darker
              .panel-heading
                %h4.panel-title
                  %span.ti-wand.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefive"}
                    = scrivito_tag(:div, widget, :cell_title_5)
              #collapsefive.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_5)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

        .col-md-3.no-padding-col
          #accordion.panel-group
            .panel.panel-default.trans-tech-blue-dark
              .panel-heading
                %h4.panel-title
                  %span.ti-shopping-cart.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsesix"}
                    = scrivito_tag(:div, widget, :cell_title_6)


              #collapsesix.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_6)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            / panel end
            .panel.panel-default.trans-tech-blue-dark
              .panel-heading
                %h4.panel-title
                  %span.ti-time.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseseven"}
                    = scrivito_tag(:div, widget, :cell_title_7)


              #collapseseven.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_7)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-dark
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseeight"}
                    = scrivito_tag(:div, widget, :cell_title_8)

              #collapseeight.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_8)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            .panel.panel-default.trans-tech-blue-dark
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsenine"}
                    = scrivito_tag(:div, widget, :cell_title_9)

              #collapsenine.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_9)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            .panel.panel-default.trans-tech-blue-dark
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseten"}
                    = scrivito_tag(:div, widget, :cell_title_10)

              #collapseten.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_10)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now


        .col-md-3.no-padding-col
          #accordion.panel-group
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-shopping-cart.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseeleven"}
                    = scrivito_tag(:div, widget, :cell_title_11)


              #collapseeleven.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_11)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-time.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsetwelve"}
                    = scrivito_tag(:div, widget, :cell_title_12)

              #collapsetwelve.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_12)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsethirteen"}
                    = scrivito_tag(:div, widget, :cell_title_13)


              #collapsethirteen.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_13)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefourteen"}
                    = scrivito_tag(:div, widget, :cell_title_14)
              #collapsefourteen.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_14)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            .panel.panel-default.trans-tech-blue-light
              .panel-heading
                %h4.panel-title
                  %span.ti-gallery.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsefifteen"}
                    = scrivito_tag(:div, widget, :cell_title_15)
              #collapsesix.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_15)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

        .col-md-3.no-padding-col
          #accordion.panel-group
            .right_top_panel.panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-comments-smiley.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsesixteen"}
                    = scrivito_tag(:div, widget, :cell_title_16)

              #collapsesixteen.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_title_16)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-target.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseseventeen"}
                    = scrivito_tag(:div, widget, :cell_title_17)

              #collapseseventeen.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_17)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
            / panel end
            .panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-check.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseeighteen"}
                    = scrivito_tag(:div, widget, :cell_title_18)

              #collapsenine.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_18)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            .panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-check.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsenineteen"}
                    = scrivito_tag(:div, widget, :cell_title_19)

              #collapsenineteen.panel-collapse.collapse
                .panel-body
                  = scrivito_tag(:div, widget, :cell_content_19)
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now

            .right_bottom_panel.panel.panel-default.trans-tech-blue-superlight
              .panel-heading
                %h4.panel-title
                  %span.ti-check.services_icons
                  %br
                  %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapsetwenty"}
                    = scrivito_tag(:div, widget, :cell_title_20)


              #collapsetwenty.panel-collapse.collapse
                .panel-body
                  .divide30
                  %p
                    %a.btn.btn-theme-bg{:href => "#"} Apply Now
