= content_tag :section, class: "features-background" do
  %a.anchor{id: widget.section_name}
  .center-title.center-title-padding
    %h2.white
      = scrivito_tag :div, widget, :title
    .row.jobs-row
      .container.panel-group
        .col-md-3.no-padding-col#accordion
          = render partial: "our_services_widget/st_column", locals: {widget: widget}
        .col-md-3.no-padding-col#accordion2
          = render partial: "our_services_widget/nd_column", locals: {widget: widget}
        .col-md-3.no-padding-col#accordion3
          = render partial: "our_services_widget/rd_column", locals: {widget: widget}
        .col-md-3.no-padding-col#accordion4
          = render partial: "our_services_widget/th_column", locals: {widget: widget}
