= scrivito_medium_dialog do
  = scrivito_details_for "Content" do
    = scrivito_tag :div, widget, :content
  = scrivito_details_for "Name" do
    = scrivito_tag :div, widget, :name
  = scrivito_details_for "Job Title" do
    = scrivito_tag :div, widget, :job_title
  = scrivito_details_for "Farbe" do
    = scrivito_tag :div, widget, :color
  = scrivito_details_for "Pdf Link" do
    = scrivito_tag :div, widget, :pdf
