%div{class: "quote #{widget.color}"}
  - if widget.pdf.present?
    %blockquote
      .pdf-present
        = scrivito_tag(:p, widget, :content)
        = link_to scrivito_path(widget.pdf) do
          .ti-save.testimonial-icon
  - else
    %blockquote
      = scrivito_tag(:p, widget, :content)


.quote-footer.text-right
  .quote-author-img
    = scrivito_image_tag(widget, :image, {}, transform: {fit: :resize})
  = scrivito_tag(:h4, widget, :name)
  = scrivito_tag(:strong, widget, :job_title)
