%h4= "Contact Form Submission"
=======================

%h3= "The Trans-Tech.de form was submitted with the following details."

%p="First Name = #{@inquiry.first_name}"
%p="Last Name = #{@inquiry.last_name}"
%p="Email = #{@inquiry.email}"
%p="Remarks = #{@inquiry.remarks}"
%p="Subject = #{@inquiry.subject}"
%p="Volume = #{@inquiry.first_name}"
%p="Date = #{@inquiry.date}"
