Contact Form Submission
=======================

The Trans-Tech.de form was submitted with the following details.

="First Name = #{@inquiry.first_name}"
="Last Name = #{@inquiry.last_name}"
="Email = #{@inquiry.email}"
="Remarks = #{@inquiry.remarks}"
="Subject = #{@inquiry.subject}"
="Volume = #{@inquiry.first_name}"
="Date = #{@inquiry.date}"
