= @homepage.mail_thanks_services_beginning

%p="First Name = #{@inquiry.first_name}"
%p="Last Name = #{@inquiry.last_name}"
%p="Email = #{@inquiry.email}"
%p="Subject = #{@inquiry.subject}"
%p="Source Language(s) = #{@inquiry.source_language}"
%p="Target Language(s) = #{@inquiry.target_language}"
%p="Volume = #{@inquiry.volume}"
%p="Date = #{@inquiry.date}"
%p="Remarks = #{@inquiry.remarks}"

= @homepage.mail_thanks_services_end
