Contact Form Submission
=======================

Thank you for your Form submission on Trans-tech.de
You provided the following information:

="First Name = #{@inquiry.first_name}"
="Last Name = #{@inquiry.last_name}"
="Email = #{@inquiry.email}"
="Remarks = #{@inquiry.remarks}"
="Subject = #{@inquiry.subject}"
="Volume = #{@inquiry.first_name}"
="Date = #{@inquiry.date}"

We will respond to your inquiry as quick as possible.

Best Regards,
trans-tech Team.  
