%h2= "Contact Form Submission"
=======================

%h3= "Thank you for your Form submission on Trans-tech.de"
%p= "You provided the following information:"

%p="First Name = #{@inquiry.first_name}"
%p="Last Name = #{@inquiry.last_name}"
%p="Email = #{@inquiry.email}"
%p="Remarks = #{@inquiry.remarks}"
%p="Subject = #{@inquiry.subject}"
%p="Volume = #{@inquiry.first_name}"
%p="Date = #{@inquiry.date}"

%p= "We will respond to your inquiry as quick as possible."

%p= "Best Regards,trans-tech Team."  
