= @homepage.mail_thanks_for_working_with_us

%p="First Name = #{@inquiry.first_name}"
%p="Last Name = #{@inquiry.last_name}"
%p="Email = #{@inquiry.email}"
%p="Remarks = #{@inquiry.remarks}"
%p="Subject = #{@inquiry.subject}"
%p="Volume = #{@inquiry.first_name}"
%p="Date = #{@inquiry.date}"

= @homepage.mail_thanks_for_working_with_us_end