%section#clients-carousel
  .container
    .row
      .col-md-12
        .center-heading
          %h2 Clients Carousel
    / center heading row
    #clients-slider
      .item
        %a{:href => "#"}
          = image_tag("axelmeyer.png")
      .item
        %a{:href => "#"}
          = image_tag('hagemann.png')
      .item
        %a{:href => "#"}
          = image_tag('noomus.png')
      .item
        %a{:href => "#"}
          = image_tag('aue.png')
      .item
        %a{:href => "#"}
          = image_tag('franke.png')
      .item
        %a{:href => "#"}
          = image_tag('giken.png')
      .item
        %a{:href => "#"}
          = image_tag('iba.png')
      .item
        %a{:href => "#"}
          = image_tag('eumetcal.png')
