%nav.navbar.navbar-default.header-v1.navbar-fixed-top{:role => "navigation", :style => "position: fixed; top: 0px;"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#home"} Trans-Tech
    .navbar-collapse.collapse{:style => "max-height: 910px;"}
      %ul.nav.navbar-nav.navbar-right
        -# %li
        -#   %a{href: "#home"}
        -#     Home
        - @obj.nav_based_on_widgets.each do |section|
          %li
            - if @obj.is_a?(Homepage)
              = link_to(section.section_name.humanize, "#" + section.section_name)
            - if @obj.is_a?(Page)
              = link_to(section.section_name.humanize, "#{scrivito_path(@obj.parent)}##{section.section_name}")

        %li.dropdown.active
          %a.dropdown-toggle.js-activated{"aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Language
            %span.caret
          %ul.dropdown-menu
            - @obj.homepages.each do |homepage|
              %li
                %a{:href => scrivito_path(homepage)}
                  = image_tag asset_path("flags/" + homepage.country + ".png"), class: "flag-icon"
                  -# = image_tag image_path("flags/" + homepage.country), class: "flag-icon"
                  = homepage.country_name_translation
