!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{name: 'viewport', content:'width=device-width, initial-scale=1.0'}
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Arimo:400,400italic", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=Pacifico", :rel => "stylesheet"}
    = meta_tags_for(@obj)
    %title= @obj.title || "Trans-Tech"
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag 'editing' if scrivito_user.present?
    = csrf_meta_tags
    = scrivito_head_tags

  %body
    - unless @root_page == true || @obj.class == LoginPage
      = render 'layouts/navigation'
    = yield
    = scrivito_body_tags
